
    <section>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    hg

                    <tr>
                        <td scope="row">samsung</td>
                        <td><img style="height:50px;width:50px" src="" alt=""></td>
                        <td>watch</td>
                        <td><span>Rs. </span>77</td>
                        <td><button class="cart-item-count me-3 btn btn-warning">-</button> <span id="">7</span> <button
                                class="cart-item-count ms-3 btn btn-success">+</button></td>
                        <td><button href="" class="btn btn-danger">Remove</button></td>
                    </tr>



                </tbody>
            </table>

            <hr>

            <h3 class="float-end mt-3 me-5">Cart total : <span id="total">7777</span></h3>
            <a href="" class="mt-5 float-end btn btn-success" style="width:100% ;">Place Order</a>
        </div>

    </section>



